# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend configuration
.env
backend/token.json
backend/service-account.json
backend/.temp-uploads/
.temp-uploads/
temp-test-image.png
latestAppJsx.txt
revert.cjs
revert_script_info.json
cors.json


# Electron Release
release/

# Python
backend/venv/
backend/__pycache__/
